<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="icon" href="/static/login.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/login.css"/>
</head>
<body>
    <div id="login">
        <h1>Database Login</h1>
        <form id = "form" method="post" accept-charset="UTF-8">
            <input value="postgres" type="text" id="user" required="required" placeholder="user" name="user"/>
            <input value="123456" type="password" id="password" required="required" placeholder="password" name="password"/>
            <input value="project_2" type="text" id="database" required="required" placeholder="database" name="database"/>
            <input value="localhost" type="text" id="host" required="required" placeholder="host" name="host"/>
            <button class="but" type="submit">LOGIN</button>
        </form>
    </div>
</body>
</html>